<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="card">
    <center>
        <div class="alert alert-info display-1 text-center">Usuario 3</div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'imagenes/Maggie.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nombre: {{nombre}}</h5>
              <h5 class="card-title">Apellido: {{apellido}}</h5>
              <h5 class="card-title">Edad: {{edad}}</h5>
              <h5 class="card-title">Hobbies: {{hobbies}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Direccion: {{direccion}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Ciudad: {{ciudad}}</h6>
              <p class="card-text">
                <p class="h6">Maggie: **Sonido de Chupón**</p>   
            <a href="{{url0}}" class="btn btn-primary">Inicio</a>
            <a href="{{url1}}" class="btn btn-primary">Usuario 1</a>
            <a href="{{url2}}" class="btn btn-primary">Usuario 2</a>
            </div>
          </div>
    </center>
</body>
</html>